@model IEnumerable<Pizza>

@{
    ViewData["Title"] = "Home Page";
}

<div class="pizza-topic-container">
    <h2 class="pizza-topic">Пицца</h2>
</div>

<div class="pizzas-container">
@foreach (var pizza in Model)
{
    <div class="pizza-div">
        <div class="pizza-img" style="outline: none;">
            <img src="@pizza.PictureUrl" width="292" alt="Изображение пиццы">
        </div>
        <div class="pizza-name">@pizza.Name</div>
        <div class="pizza-desk">@pizza.Description</div>
        <div class="pizza-footer">
            <div style="font-size: 20px; margin-top: 10px">@pizza.Price.ToString("C2")</div>
            <div class="pizza-btn" onclick="onNewPizzaSelect(@pizza.Id)">Добавить</div>
        </div>
    </div>
}
</div>

<script>
    var cart = []

    function addInCart(id) {
        let found = false;

        for (let i = 0; i < cart.length; i++)
        {
            if (cart[i].id == id) {
                cart[i].count++;
                found = true;
            }
        }

        if (!found) {
            cart.push({ id: parseInt(id), count: 1 });
        }
    }

    function onNewPizzaSelect(id) {
        if (!id) return;

        addInCart(id);

        console.log(JSON.stringify(cart));
    }
</script>

<style>
    .pizza-topic {
        margin-bottom: 50px;
        margin-top: 150px;
    }

    .pizza-div {
        display: block;
        width: 292px;
        height: 500px;
        word-break: break-all;
        margin-bottom: 40px;
    }

    .pizza-name {
        margin-top: 40px;
        font-size: 24px;
    }

    .pizza-footer {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pizza-btn {
        font-size: 20px;
        background-color: #a8ffc9;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        transition: 0.2s;
    }

    .pizza-btn:hover {
        background-color: lightgreen;
    }

    .pizzas-container {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    @@media only screen and (max-width: 780px)
    {
        .pizza-topic-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .pizza-topic {
            margin: 20px 0px 0px 0px !important;
        }

        .pizza-div {
            margin-top: 40px;
        }

        .pizzas-container {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .pizzas-container::after {
            content: "";
            flex: none !important;
        }
    }
</style>