@model PizzaProject.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="pizza-topic-container">
    <h2 class="pizza-topic">Пицца</h2>
</div>

<div class="pizzas-container">
@foreach (var pizza in Model.PizzaList)
{
    <div class="pizza-div">
        <div class="pizza-img" style="outline: none;">
            <img src="@pizza.PictureUrl" width="292" alt="Изображение пиццы">
        </div>
        <div class="pizza-name" id="pizza-name-@pizza.Id">@pizza.Name</div>
        <div class="pizza-desk">@pizza.Description</div>
        <div class="pizza-footer">
            <div style="font-size: 20px; margin-top: 10px" id="pizza-price-@pizza.Id">@pizza.Price.ToString("C2")</div>
            <div class="pizza-btn-container" id="btn-container-@pizza.Id">
               @if (Model.Cart.Items.FirstOrDefault(t => t.Pizza.Id == pizza.Id) != null)
                {
                    <div class="pizza-sub-btn" onclick="remPizza(@pizza.Id)">-</div>
                    <div class="pizza-counter" id="pizza-counter-@pizza.Id">@Model.Cart.Items.FirstOrDefault(t => t.Pizza.Id == pizza.Id).Count</div>
                    <div class="pizza-sub-btn" onclick="addPizza(@pizza.Id)">+</div>
                }
                else
                {
                    <div class="pizza-btn" onclick="firstAddPizza(@pizza.Id)">Добавить</div>
                }
            </div>
        </div>
    </div>
}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function firstAddPizza(id) {
        $.ajax({
            url: '@Url.Action("AddToCart", "Home")?pizzaId=' + id,
            method: 'get',
            dataType: 'html',
            success: function (data) {
                $('#btn-container-' + id).html(`<div class="pizza-sub-btn" onclick="remPizza(${id})">-</div>
                    <div class="pizza-counter" id="pizza-counter-${id}">1</div>
                    <div class="pizza-sub-btn" onclick="addPizza(${id})">+</div>`);
            }
        });
    }

    // Кнопка "+"
    function addPizza(id) {
        $.ajax({
            url: '@Url.Action("AddToCart", "Home")?pizzaId=' + id,
            method: 'get',
            dataType: 'html',
            success: function (data) {
                let text = $('#pizza-counter-' + id).text();
                let count = parseInt(text);

                $('#pizza-counter-' + id).html(count + 1)
            }
        });
    }

    // Кнопка "-"
    function remPizza(id) {
        $.ajax({
            url: '@Url.Action("RemoveFromCart", "Home")?pizzaId=' + id,
            method: 'get',
            dataType: 'html',
            success: function (data) {
                let text = $('#pizza-counter-' + id).text();
                let count = parseInt(text);

                if (count - 1 <= 0) {
                    $('#btn-container-' + id).html(`<div class="pizza-btn" onclick="firstAddPizza(${id})">Добавить</div>`);
                } else {
                    $('#pizza-counter-' + id).html(count - 1);
                }
            }
        });


    }
</script>

<style>
    .pizza-topic {
        margin-bottom: 50px;
        margin-top: 150px;
    }

    .pizza-div {
        display: block;
        width: 292px;
        height: 500px;
        word-break: break-all;
        margin-bottom: 40px;
    }

    .pizza-img {
        display: block;
        transition: 0.2s;
    }

    .pizza-img:hover {
        transform: scale(1.03);
    }

    .pizza-name {
        margin-top: 40px;
        font-size: 24px;
    }

    .pizza-footer {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pizza-btn {
        border: none;
        outline: none;

        font-size: 20px;
        background-color: lightgreen;
        border-radius: 10px;
        padding: 8px 14px;
        cursor: pointer;
        transition: 0.2s;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
    }

    .pizza-btn-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        align-items: center;
    }
    
    .pizza-counter {
        font-size: 18px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .pizza-sub-btn {
        border: none;
        outline: none;

        font-size: 20px;
        background-color: lightgreen;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        transition: 0.2s;
        width: 40px;
        height: 40px;
        text-align: center;
        vertical-align: central;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
    }

    .pizza-btn-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .pizza-btn:hover {
        background-color: forestgreen;
    }

    .pizza-sub-btn:hover {
        background-color: forestgreen;
    }

    .pizzas-container {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    @@media only screen and (max-width: 770px)
    {
        .pizza-topic-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .pizza-topic {
            margin: 20px 0px 0px 0px !important;
        }

        .pizza-div {
            margin-top: 40px;
        }

        .pizzas-container {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .pizzas-container::after {
            content: "";
            flex: none !important;
        }
    }
</style>