@model PizzaProject.Models.User
@using static PizzaProject.Utils.Algorithms

@{
    ViewData["Title"] = "Мой аккаунт";
}

<h1 style="margin-top: 100px; margin-bottom: 40px;">Мой аккаунт</h1>

<div>
    <h4>@Model.UserName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            Email
        </dt>
        <dd class="col-sm-6">
            @Model.Email
        </dd>
        <dt class="col-sm-4">
            Имя
        </dt>
        <dd class="col-sm-6">
            @SelectString(Model.FirstName, "Информация отсутствует")
        </dd>
        <dt class="col-sm-4">
            Фамилия
        </dt>
        <dd class="col-sm-6">
            @SelectString(Model.LastName, "Информация отсутствует")
        </dd>
        <dt class="col-sm-4">
            Дата регистрации
        </dt>
        <dd class="col-sm-6">
            @Model.RegistrationDate
        </dd>
        <dt class="col-sm-4">
            Дата изменения
        </dt>
        <dd class="col-sm-6">
            @Model.LastEditDate
        </dd>

        <dt class="col-sm-4">
            Верефицирован
        </dt>
        <dd class="col-sm-6">
            @SelectString(Model.Verified, "Да", "Нет")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit">Изменить</a> |
    <a asp-action="Logout">Выйти</a> |
    <a asp-action="Index">На главную</a>
</div>

<style>
    * {
        word-break: break-all;
    }

    dd {
        min-height: 22px;
    }
</style>